<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>MusicRecordsRadio</title>
</head>
<body>
    <h1>MusicRecordsRadio</h1>
    <div id="app">
        <button id="GetAllButton" v-on:click="getAllRecords" class="btn btn-primary">Get All Records</button>
        <h3>List</h3>
            <ul v-if="musicrecords">
                <li id="recordlists" v-for="musicrecord in musicrecords.slice(musicrecords.length-4,musicrecords.length)">
                <!-- shows last 5 books -->
                    {{musicrecord.id}} {{musicrecord.title}} {{musicrecord.artist}} {{musicrecord.duration}}
                </li>
            </ul>

            <div v-else>No musicrecords</div>
            <h2>Music Record by id</h2>
            <input id="GetByIdInput" v-model="musicrecordId" placeholder="id" type="number">
            <button id="GetByIdButton" v-on:click="getmusicrecordById(musicrecordId)" class="btn btn-primary">Get Musicrecord</button>
            <div id="singleunit" v-if="singlemusicrecord">{{ singlemusicrecord }}</div>
            <div v-else>No such Musicrecord</div>

            <h2>Add Musicrecord</h2>
            <input id="AddTitleInput" v-model="addData.title" placeholder="Title"/>
            <input id="AddArtistInput" v-model="addData.artist" placeholder="Artist"/>
            <input id="AddDurationInput" v-model.number="addData.duration" placeholder="Duration"/>
            <input id="AddYearInput" v-model.number="addData.year" placeholder="Year of release"/>
            <button id="AddMusicRecordButton" v-on:click="addmusicrecord()" class="btn btn-success">Add</button>
            <div>{{addMessage}}</div>

            <h2>Delete Musicrecord</h2>
            <input id="InputDeleteId" v-model.number="deleteId" placeholder="Id">
            <button id="DeleteId" v-on:click="deletemusicrecord(deleteId)" class="btn btn-primary">Delete a MusicRecord</button>
            {{deleteMessage}}
    </div>
    <script src="index.js"></script>  
</body>
</html>