<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>MusicRecordsRadio</title>
</head>
<body>
    <h1>MusicRecordsRadio</h1>
    <div id="app">
        <button id="GetAllButton" v-on:click="getAllRecords" class="btn btn-primary">Get All Records</button>
        <h3>List</h3>
            <ul v-if="musicrecords">
                <li id="recordlists" v-for="musicrecord in musicrecords.slice(musicrecords.length-4,musicrecords.length)">
                <!-- shows last 5 books -->
                    {{musicrecord.id}} {{musicrecord.title}} {{musicrecord.artist}} {{musicrecord.duration}}
                </li>
            </ul>
            <div v-else>No musicrecords</div>
    </div>
    <script src="index.js"></script>  
</body>
</html>